:root {
  --greyBlue: #727d8c;
  --brown: #594045;
  --red: #bf4b60;
  --lightGrey: #b8bbbf;
  --blue: #3e4c59;
}

body {
}

h1 {
  color: var(--red);
}

header {
  background-color: var(--blue);
  width: 100%;
  height: 15%;
}

header > div > li {
  list-style-type: none;
  color: var(--greyBlue);
  font-weight: 600;
  font-size: 2.3rem;
}
.icons > i {
  font-size: 4rem;
  text-align: center;
}
.nav-section {
  color: #fff;
  background-color: #2b0c52;
}

.nav-section > a {
  color: #fff;
  text-decoration: none;
}
.nav-section > a:hover {
  color: #fff;
  text-decoration: none;
}

.cover {
  background: url('files/cover.jpg');
  object-fit: cover;
  object-position: center;
  min-height: 400px;
}
.name-header {
  color: #fff;
  font-size: 10vw;
  font-family: 'Londrina Shadow', cursive;
}

.hero-subheading {
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  font-size: 3vw;
  text-align: center;
}
#about {
  background-color: #000;
  color: #fff;
  gap: 20%;
}
.about-pic {
  width: 300px;
  border-radius: 50%;
}
.about-blurb {
  width: 400px;
}

@media only screen and (max-width: 600px) {
  .cover {
    width: 100%;
    object-position: center;
    object-fit: cover;
  }
}
