.icons > i {
  font-size: 4rem;
  text-align: center;
}
.nav-section {
  color: #fff;
  background-color: #2b0c52;
}

.nav-section > a {
  color: #fff;
  text-decoration: none;
  font-weight: 200;
}
.nav-section > a:hover {
  color: #fff;
  text-decoration: none;
}

.name-header {
  color: #fff;
  font-size: 10vw;
  font-family: 'Londrina Shadow', sans-serif;
}

.hero-subheading {
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  font-size: 3vw;
  text-align: center;
}
#about {
  background-color: hwb(278 81% 4%);
  color: rgb(48, 4, 62);
  gap: 10%;
  padding-top: 10px;
}
.about-pic {
  width: 30%;
  border-radius: 50%;
}
.about-blurb {
  width: 400px;
  text-align: center;
}
.about-blurb > h2 {
  color: rgb(48, 4, 62);
  font-size: 6vw;
  font-family: 'Londrina Shadow', sans-serif;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .cover {
    background: url('files/cover-mobile.jpg');
    object-fit: contain;
    object-position: center;
    min-height: 300px;
  }
}

@media only screen and (min-width: 601px) {
  .cover {
    background: url('files/cover.jpg');
    object-fit: cover;
    object-position: center;
    min-height: 400px;
  }
}
