:root{
 --greyBlue: #727D8C;
 --brown: #594045;
 --red: #BF4B60;
 --lightGrey: #B8BBBF;
 --blue: #3E4C59;
}


body{
 
}

h1{
  color: var(--red);
}

header{
  background-color: var(--blue);
  width:100%;
  height:15%;
}

header>div>li{
  list-style-type: none;
  color: var(--greyBlue);
  font-weight:600;
  font-size: 2.3rem;
}

.cover{
  background: url("files/cover.jpg");
  object-fit: cover;
  object-position: center; 
  min-height: 400px;
}
.name-header{
  color: #fff;
  font-size: 8rem;
  font-family: 'Londrina Shadow', cursive;
}

@media only screen and (max-width: 600px){

  .cover{
    width:100%;
    object-position: center;
    object-fit: cover;
  }

}